/* css style sheet for the use of all the feature pages*/


body {
height: 100%;
text-align: center;
font: 1.2em Tahoma;
background-color:#fff;
min-width: 850px;

padding-bottom: 80px; /* Simulates margin-bottom for wrapper in IE */
}

#wrapper {
width: 850px;
margin: 0 auto 80px auto;
position: relative;
background-color: #FFFFFF;
display: table; /* margin-bottom for FF   (?) */
text-align: left;
}

#content_box {
width: 100%;
color: #c6cbd6;
position: relative;
border::solid 1px #343537;

}

.content_resize {
	margin:0 auto;
	padding:0 0 24px;
	background-color:#fff;
	border:solid 1px #aeb2b7;
	min-height:600px;
}


.content_resize H2
{
margin-left:30px;
}

.featues_box{
width:800px;
margin-left:25px;
margin-bottom:25px;
background-color:#acb4c5;
border-left:solid 1px #708db9;
border-right:solid 1px #708db9;
border-bottom:solid 1px #708db9;
border-top:solid 1px #708db9;
border-radius: 10px;
-moz-border-radius :10px;
-webkit-border-radius: 10px;
font: 12px Tahoma;
color:black;

}

.featues_box_content
{
margin-left:25px;
}

.featues_box_button
{
border:1px solid #666666;
border-radius: 10px;
-moz-border-radius :10px;
-webkit-border-radius: 10px;
padding: 10px;
cursor:pointer;
min-width:80px;
}

.searchresults_box
{
	/*display:none;*/

}