
body {
height: 100%;
text-align: center;
font: 1.2em Tahoma;
background-color:#fff;
min-width: 850px;

}


#wrapper {
width: 850px;
margin: 0 auto 80px auto;
position: relative;
background-color: #FFFFFF;
display: table; /* margin-bottom for FF   (?) */
text-align: left;
}

#content_box {
width: 100%;
margin: 0 auto;
color: #c6cbd6;
position: relative;
border::solid 1px #343537;
}

.content_resize {
	margin:0 auto;
	padding:0 0 24px;
	background-color:#fff;
	border:solid 1px #aeb2b7;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}

.options_box
{
	margin-left:25px;
	color:black;
	background-color:#fff ;
	display:inline-block;
	border:solid 1px #cdd3d9;
	font:12px Arial;
	border-radius: 10px;
	-moz-border-radius :10px;
	-webkit-border-radius: 10px;
	height:150px;
	width:380px;
	overflow:auto;
	vertical-align:top;

	
}
.options_box_header
{
    font-family:Tahoma;
    font-size:16px;
    background-color:#d8dfe6;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	-moz-border-top-radius :10px;
	-webkit-border-top-radius: 10px;
	padding:5px 0 5px 0;
}

.options_box_header_text
{
	margin-top:5px;
    margin-left:25px;
    margin-bottom:5px;
    margin-right:25px;
}

.options_box_content
{
    display:inline-block;
    margin-left:5px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:5px;
}

.main_banner
{
	height:120px;
	background: url(images/main_back.png) no-repeat left top;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
	
.footer
{
	height:50px;
	background: url(images/footer.png) no-repeat left top;

}
