
body {
height: 100%;
text-align: center;
font: 1.2em Tahoma;
background-color:#fff;
min-width: 850px;
padding-bottom: 80px; /* Simulates margin-bottom for wrapper in IE */
}

#wrapper {
width: 850px;
margin: 0 auto 80px auto;
position: relative;
background-color: #FFFFFF;
display: table; /* margin-bottom for FF   (?) */
text-align: left;
}

#content_box {
width: 100%;
margin: 0 auto;
color: #c6cbd6;
position: relative;
border::solid 1px #343537;

}

#login-box {
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial;
	background: url(images/login-box-backg.png) no-repeat left top;
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 22px Arial;
}

#login-box h3
{
	
	padding:0;
	margin:0;
	color: #fff;
	font: bold 40px Arial;
	
}

#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
}

#login-box-field {
	float: left;
	display:inline;
	width:230px;
	margin:0;
	margin:0 0 7px 0;
}


.form-login  {
	width: 205px;
	padding: 10px 4px 6px 3px;
	border: 1px solid #0d2c52;
	background-color:#1e4f8a;
	font-size: 16px;
	color: #ebebeb;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}

.confirm_button{
border:1px solid #666666;
border-radius: 10px;
-moz-border-radius :10px;
-webkit-border-radius: 10px;
padding: 10px;
cursor:pointer;
min-width:80px;}