

#cname{
	width: 200px;
	padding: 5px;
	padding-right: 40px;
	outline: none;
	border: 2px solid #999999;
	border-radius: 5px;
	background-color: #FBFBFB;
	font-size: 12px;
	background-position: 210px -10px;
	background-image: url('./images/search.png');
	background-repeat: no-repeat;
	
	-webkit-transition: background-color .2s ease-in,
                    background-position .2s ease-in,
                    box-shadow .3s ease-in;
 
	-moz-transition: background-color .2s ease-in,
                 background-position .2s ease-in,
                 box-shadow .3s ease-in;
 
	-o-transition: background-color .2s ease-in,
               background-position .2s ease-in,
               box-shadow .3s ease-in;
 
	-ms-transition: background-color .2s ease-in,
                background-position .2s ease-in,
                box-shadow .3s ease-in;
 
	transition: background-color .2s ease-in,
            background-position .2s ease-in,
            box-shadow .3s ease-in;
	
}

#cname:FOCUS {
	background-color: #FFFFFF;
	border-color: #333333;
	box-shadow: 0px 0px 25px -2px #333;
	background-position: 210px -80px;
}





.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #A65B1A; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, 
.datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFEE00), color-stop(1, #EBBC00) );background:-moz-linear-gradient( center top, #FFEE00 5%, #EBBC00 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE00', endColorstr='#EBBC00');background-color:#FFEE00; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #BF691E; } .datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #7F4614; border-left: 1px solid #D9CFB8;font-size: 12px;font-weight: normal; }
.datagrid table tbody .alt td { background: #F0E5CC; color: #7F4614; }
.datagrid table tbody td:first-child { border: none; }
.datagrid table tfoot td div { border-top: 1px solid #A65B1A;background: #F0E5CC;}
.datagrid table tfoot td { padding: 0; font-size: 12px }
.datagrid table tfoot td div{ padding: 2px; }
.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #A65B1A;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A65B1A), color-stop(1, #7F4614) );background:-moz-linear-gradient( center top, #A65B1A 5%, #7F4614 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#A65B1A', endColorstr='#7F4614');background-color:#A65B1A; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #7F4614; color: #FFFFFF; background: none; background-color:#A65B1A;}



