@CHARSET "ISO-8859-1";

body {
height: 100%;
text-align: center;
font: 12px Tahoma;
background-color:#4d3e22;
min-width: 1200px;

}


#wrapper {
margin: 0 auto 0px auto;
position: relative;
background-color: #feeebd;
display: table; /* margin-bottom for FF   (?) */
text-align: left;
}

#content_box {
width: 100%;
margin: 0 auto;
color: #c6cbd6;
position: relative;
border::solid 1px #343537;
}

#frame
{
 
    min-width:850px;
    height:800px; 
    overflow-y:hidden;
    display:inline;
    background-color:#feeebd;
    
	
}

.content_resize {
	margin:0 auto;
	padding:0 0 24px;
	background-color:##feeebd;
}
#contents a:hover {
	color: #566440;
	border-bottom: 1px dashed #566440;
	}
div.inline {
    display: inline-block;
    vertical-align:top;
 
}

#contents a:link,
#contents a:visited {
	text-decoration: none;
	color: #B36B00;
}
#contents h3 span.subhead 
{
    margin-left:40px;
    margin-top:40px;
}

#contents {
    margin-left: 10px;
    width:300px;
}
#mainmenu {
    width:320px;
    display: inline-block;
}


#_logout {
   margin-left: 10px;
 vertical-align:baseline;
}
#contents h3, #contents p  {
	margin-left: 0;
	margin-bottom: 0;
}
.main_banner
{
	height:120px;
	background: url(../images/banner.png) no-repeat left top;
	
}

.footer
{
	height:50px;
	background: url(../images/footer.png) no-repeat left top;
	
	
	
}
