table.highlightable tr.highlight { background: red; }


#cname{
	width: 200px;
	padding: 5px;
	padding-right: 40px;
	outline: none;
	border: 2px solid #999999;
	border-radius: 5px;
	background-color: #FBFBFB;
	font-size: 12px;
	background-position: 210px -10px;
	background-image: url('./images/search.png');
	background-repeat: no-repeat;
	
	-webkit-transition: background-color .2s ease-in,
                    background-position .2s ease-in,
                    box-shadow .3s ease-in;
 
	-moz-transition: background-color .2s ease-in,
                 background-position .2s ease-in,
                 box-shadow .3s ease-in;
 
	-o-transition: background-color .2s ease-in,
               background-position .2s ease-in,
               box-shadow .3s ease-in;
 
	-ms-transition: background-color .2s ease-in,
                background-position .2s ease-in,
                box-shadow .3s ease-in;
 
	transition: background-color .2s ease-in,
            background-position .2s ease-in,
            box-shadow .3s ease-in;
	
}

#cname:FOCUS {
	background-color: #FFFFFF;
	border-color: #333333;
	box-shadow: 0px 0px 25px -2px #333;
	background-position: 210px -80px;
}