@CHARSET "ISO-8859-1";
body{
width:800px;
font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
}
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-dialog .ui-state-error { padding: .3em; }